body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.root {
  flex: 1;
  display: block;
}

body {
  background-image: linear-gradient(
    90deg,
    rgb(16, 24, 24),
    rgb(138, 137, 137),
    rgb(16, 24, 24)
  ) !important;
}

/* ----------------------------------FrontPage css------------------------------------------ */
.w-100 {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/opacity/see-through */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 480px;
  padding: 0 calc(10%);
  padding-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .w-100 {
    height: 350px;
  }
  .backg {
    height: 350px !important;
  }
}

.backg {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 480px;
  width: 100%;
}

.navItem {
  font-family: "Roboto Mono", monospace;
  color: rgb(138, 137, 137) !important;
}

.navItem:hover {
  color: rgb(240, 94, 94) !important;
}

.dropdown-menu {
  background: rgba(52, 58, 64, 0.95) !important;
}

.dropdropdown-menu {
  box-shadow: 0 6px 6px rgb(7, 7, 7) !important;
  backdrop-filter: saturate(100%) blur(5px) !important;
}

.navHead {
  color: rgb(240, 94, 94) !important;
  font-size: 40px !important;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
}

.navSearch:hover {
  color: rgb(240, 94, 94) !important;
  background-color: darkslategray !important;
}

.navbarBackg {
  background: rgba(52, 58, 64, 0.6) !important;
  box-shadow: 0 2px 3px rgb(7, 7, 7);
  border-radius: 0 0 10px 10px;
}

.navbarButton {
  background: rgba(65, 71, 77, 0.6);
  color: rgb(138, 137, 137);
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(7, 7, 7, 0.4);
  font-family: "Roboto Mono", monospace;
  border-radius: 5px;
  padding: 8px 15px;
  margin-right: 5px;
  backdrop-filter: saturate(100%) blur(5px);
}

.navbarButton:hover {
  color: rgb(240, 94, 94);
}

@media only screen and (max-width: 768px) {
  .navbarButton {
    margin-bottom: 10px;
    padding: 5px 10px;
  }
}

.navSearch {
  color: rgb(138, 137, 137) !important;
  border-color: rgb(138, 137, 137) !important ;
  margin-top: 2px;
}

.carousel-control-next-icon {
  margin-right: calc(70%);
}
.carousel-control-prev-icon {
  margin-left: calc(70%);
}

.carousel fade {
  background-color: rgb(16, 24, 24) !important;
}

.footer {
  height: 210px;
  width: 100%;
  color: rgb(138, 137, 137);
  background: #343a40;
  padding: 20px 15px 10px 15px;
  margin-top: 10px;
  margin-bottom: 0;
  box-shadow: 0 5px 3px rgb(7, 7, 7);
  /* backdrop-filter: saturate(170%) blur(10px) !important; */
  background: rgba(52, 58, 64, 0.6) !important;
  border-radius: 10px 10px 0 0;
}

.face:hover,
.insta:hover,
.linked:hover,
.email:hover {
  color: rgb(240, 94, 94);
}

.face,
.insta,
.linked,
.email {
  color: rgb(138, 137, 137);
}

.itemsIMG {
  height: 180px;
  border-bottom: 3px solid rgb(138, 137, 137);
}

.menuHead {
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
  color: rgb(240, 94, 94);
  font-weight: bolder;
  margin: 50px calc(20%) !important;
  margin-top: 80px !important;
  text-align: center;
  box-shadow: 0 3px 3px rgb(7, 7, 7);
  border-radius: 10px;
  background-color: #343a40;
  backdrop-filter: saturate(170%) blur(10px) !important;
  background: rgba(52, 58, 64, 0.6) !important;
}

.items {
  color: rgb(240, 94, 94);
  box-shadow: 0 3px 3px rgb(7, 7, 7);
  margin: calc(3%);
  padding: 5px;
  margin-bottom: 50px !important;
  backdrop-filter: saturate(100%) blur(10px) !important;
  border-radius: 10px !important;
  background: rgba(52, 58, 64, 0.6) !important;
}

@media only screen and (max-width: 768px) {
  .itemsIMG {
    height: 160px;
  }

  .menuHead {
    font-size: 40px;
  }
}

.overlay {
  position: absolute;
  top: 3%;
  bottom: 0;
  left: 9.5%;
  right: 0;
  height: 270px;
  width: 81%;
  opacity: 0;
  transition: all 0.5s ease;
  background-color: #000;
  text-align: center;
}

.contain:hover .overlay {
  opacity: 0.9;
}

.overlayText {
  color: rgb(240, 94, 94);
  margin-top: 40%;
}

/*---------------------------------------- Front Page CSS ENDS-------------------------------------- */

/*------------------------------------------ReviewSection CSS-----------------------------------------------*/
.review {
  border-radius: 10px;
  background: rgba(52, 58, 64, 0.6);
  box-shadow: 0 3px 4px rgb(7, 7, 7);
  backdrop-filter: saturate(100%) blur(5px);
  padding: 10px;
  width: 60%;
  margin: 16px;
  margin-left: 19%;
  float: left;
  font-family: "Roboto Mono", monospace;
}

.review h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 6px;
  color: rgb(240, 94, 94);
}
.review p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: rgb(138, 137, 137);
}

.review button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: rgb(138, 137, 137);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: rgba(86, 86, 90, 0.01);
}

@media only screen and (max-width: 768px) {
  form.create-review {
    width: 300px !important;
    margin: 30px auto 20px auto !important;
  }
  .review p {
    margin-bottom: 4px !important;
  }
  .review h1 {
    font-size: 1 rem !important;
  }
  .review h3 {
    font-size: 1.4rem;
  }
}

form.create-review {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 3px 4px rgb(7, 7, 7);
}
form.create-review input,
form.create-review textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-family: inherit;
  resize: none;
  background: rgba(52, 58, 64, 0.7);
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
}
form.create-review input {
  border-bottom: 2px solid rgb(138, 137, 137);
}
form.create-review input,
input::placeholder {
  color: rgb(240, 94, 94);
}
form.create-review textarea,
textarea::placeholder {
  color: rgb(138, 137, 137);
}

form.create-review button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #343a40;
  color: rgb(240, 94, 94);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  outline: none;
}

.missingButton {
  text-decoration: none;
  border: none;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(185, 183, 183, 0.8);
  font-weight: bold;
  float: right;
}

.missingText {
  display: inline-flex;
  color: rgb(240, 94, 94);
  padding: 6px 4px;
}

/* --------------------------------------Review Section CSS ENDS --------------------------------------------*/

/*--------------------------------------Menu Section for different type of food items----------------------------*/

.addorrem {
  margin-bottom: 30px;
  margin-top: -30px;
}

.inputs {
  outline: none;
  padding: 0;
  text-align: center;
  width: 50px;
  height: 40px;
  margin: 1px 10px;
  background: rgba(52, 58, 64, 0.6);
  box-shadow: 0 1px 3px rgb(7, 7, 7);
  backdrop-filter: saturate(100%) blur(5px);
  color: rgb(240, 94, 94);
  border-radius: 5px;
  font-weight: bolder;
}

.addrem {
  background: rgba(52, 58, 64, 0.7);
  box-shadow: 0 1px 3px rgb(7, 7, 7);
  backdrop-filter: saturate(100%) blur(5px);
  color: rgb(240, 94, 94);
  text-decoration: none;
  width: 35px;
  height: 40px;
  font-weight: bolder;
  border-radius: 5px;
}

.priceText {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}

.addToCart {
  background: rgba(52, 58, 64, 0.7);
  color: rgb(240, 94, 94);
  text-decoration: none;
  border-radius: 10px !important;
  height: 60px;
  width: 180px;
  font-size: 25px;
  word-spacing: -7px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgb(7, 7, 7);
  backdrop-filter: saturate(100%) blur(5px);
  margin: 60px 0px;
  font-family: "Roboto Mono", monospace;
}

/*--------------------------------------Menu Section for different type of food items ends------------------------------*/

/*------------------------------------------------------Cart section----------------------------------------------------*/

.cart {
  background: rgba(52, 58, 64, 0.6);
  box-shadow: 0 5px 5px rgb(7, 7, 7);
  backdrop-filter: saturate(100%) blur(5px);
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(138, 137, 137);
  padding: 10px;
  width: 70%;
  margin: 16px;
  float: left;
  font-family: "Roboto Mono", monospace;
}

.cartIn {
  background: rgba(52, 58, 64, 0.6) !important;
  box-shadow: 0 3px 4px rgb(7, 7, 7);
  backdrop-filter: saturate(100%) blur(5px);
  border-radius: 7px;
  padding: 15px;
  margin: 4% 4%;
  font-family: "Roboto Mono", monospace;
}

.cart h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 6px;
  color: rgb(240, 94, 94);
}

.cart p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: rgb(138, 137, 137);
}

@media only screen and (max-width: 768px) {
  .cart h1 {
    font-size: 1rem !important;
  }
  .cart p {
    font-size: 0.9rem !important;
  }
  .cartIn {
    flex: 1;
    margin: 4% 4% !important;
  }
}

.cartButton {
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
  color: rgb(138, 137, 137);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: rgba(52, 58, 64, 0.01);
}

/*-----------------------------------------------------Cart section ends------------------------------------------------*/

/*----------------------------------------------------Signup/Login Section starts------------------------------------------------*/

.login {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vh;
  height: 47vh;
  border-radius: 30px;
  box-shadow: 0 3px 5px rgb(7, 7, 7);
  backdrop-filter: saturate(170%) blur(10px) !important;
  background: rgba(52, 58, 64, 0.6) !important;
}

.loginHead {
  margin-top: 2vh !important;
  margin-left: 14vh !important;
  color: rgb(240, 94, 94);
  font-family: "Roboto Mono", "monospace";
}

.loginEmail {
  margin-left: 5vh !important;
  margin-top: 6vh !important;
  width: 35vh;
}

.loginPassword {
  margin-left: 5vh !important;
  margin-top: 3vh !important;
  width: 35vh;
}

.loginButton {
  margin-left: 17vh !important;
  background-color: rgb(240, 94, 94) !important;
}

.loginLink {
  text-decoration: none !important;
  color: rgba(185, 183, 183, 0.8) !important;
  margin-left: 8vh !important;
  margin-top: 5vh !important;
  font-size: 14px;
}

.loginLink:hover {
  color: rgb(240, 94, 94) !important;
}

.MuiFormLabel-root {
  color: rgb(240, 94, 94) !important;
}

.MuiInputBase-root {
  color: rgb(185, 183, 183) !important;
}

.Mui-focused fieldset {
  border-color: rgb(240, 94, 94) !important;
}

.signup {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48vh;
  height: 50vh;
  border-radius: 30px;
  box-shadow: 0 3px 5px rgb(7, 7, 7);
  backdrop-filter: saturate(170%) blur(10px) !important;
  background: rgba(52, 58, 64, 0.6) !important;
}

.signUpHead {
  margin-top: 1vh !important;
  margin-left: 14vh !important;
  color: rgb(240, 94, 94);
  font-family: "Roboto Mono", "Monospace";
}

.signupEmail {
  margin-left: 6vh !important;
  margin-top: 3vh !important;
  width: 35vh;
}

.signupPassword {
  margin-left: 6vh !important;
  margin-top: 2vh !important;
  width: 35vh;
}

.signupButton {
  margin-left: 17vh !important;
  background-color: rgb(240, 94, 94) !important;
}

.signupLink {
  text-decoration: none !important;
  color: rgb(185, 183, 183) !important;
  margin-left: 8vh !important;
  margin-top: 4vh !important;
  font-size: 14px;
}

.signupLink:hover {
  color: rgb(240, 94, 94) !important;
}

.Toastify__toast {
  background: rgba(0, 0, 0, 0.6) !important;
  color: rgb(240, 94, 94) !important;
}

.Toastify__progress-bar {
  background: rgb(240, 94, 94) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px rgb(86, 86, 90) inset !important;
  -webkit-text-fill-color: rgb(185, 183, 183) !important;
  border-left: none !important;
}

@media only screen and (max-width: 768px) {
  .signup,
  .login {
    height: 40vh !important;
    width: 40vh !important;
    left: 48% !important;
  }
  .signupEmail,
  .signupPassword {
    margin-top: 1.5vh !important;
    margin-left: 2vh !important;
  }

  .loginEmail,
  .loginPassword {
    margin-left: 2vh !important;
    margin-top: 3vh !important;
  }

  .signUpHead,
  .loginHead {
    margin-left: 12vh !important;
    font-size: 34px;
  }
  .signupLink,
  .loginLink {
    margin-top: 2vh !important;
    margin-bottom: 1vh;
    margin-left: 6vh !important;
  }
  .signupButton,
  .loginButton {
    margin-top: 1vh !important;
    margin-left: 14.5vh !important;
  }
  .MuiOutlinedInput-input {
    padding: 14px !important;
  }
}

/*----------------------------------------------------Signup/Login Section ends------------------------------------------------*/

/*---------------------------------------------------Details Page-----------------------------------------*/

@media only screen and (min-width: 768px) {
  .detail {
    background: rgba(52, 58, 64, 0.6);
    box-shadow: 0 5px 5px rgb(7, 7, 7);
    backdrop-filter: saturate(100%) blur(5px);
    border-radius: 7px;
    padding: 10px;
    width: 60%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 4vh;
    font-family: "Roboto Mono", monospace;
  }

  .detail1,
  .detail2,
  .detail3 {
    display: flex !important;
    margin-right: 5vh;
  }
  .detailName,
  .detailPhone,
  .detailAddress {
    margin-left: 5vh !important;
    margin-top: 6vh !important;
    flex: 1;
  }

  .detail4 {
    display: flex !important;
    margin-bottom: 5vh !important;
  }

  .detailCity {
    margin: 6vh 0 6vh 5vh !important;
    flex: 1;
  }
}

@media only screen and (max-width: 768px) {
  .detail {
    background: rgba(52, 58, 64, 0.6);
    box-shadow: 0 5px 5px rgb(7, 7, 7);
    backdrop-filter: saturate(100%) blur(5px);
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 4vh;
  }
  .detail1,
  .detail2,
  .detail3 {
    margin-right: 5vh;
  }
  .detailName,
  .detailPhone,
  .detailAddress {
    margin-left: 5vh !important;
    margin-top: 6vh !important;
  }

  .detail4 {
    display: flex !important;
    margin-bottom: 5vh !important;
  }

  .detailCity {
    margin: 6vh 0 0 5vh !important;
  }

  .pin {
    margin-bottom: 6vh !important;
  }
}

.detailButton {
  background: rgba(52, 58, 64, 0.6) !important;
  box-shadow: 0 3px 3px rgb(7, 7, 7);
  backdrop-filter: saturate(100%) blur(5px);
  color: rgb(240, 94, 94) !important;
  flex: 1;
  border-radius: 7px;
  padding: 10px 0 !important;
  margin: 0 30% !important;
}

.detailInstruction {
  margin-left: 5px !important;
  color: rgb(240, 94, 94);
}
